.table {
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 16px;
  table-layout: fixed;
}
.table .caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
.table .tr {
  border: 1px solid #e3e3e3;
  padding: .125em;
}

.table .tr:nth-child(even) {
  background: #fafbff;
}

.table .th,
.table .td {
  padding: .325em;
  text-align: center;
  position: relative;
}
.table .th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .table {
    border: 0;
  }
  .table .caption {
    font-size: 1.3em;
  }
  .table .thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .table .tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  .table .td {
    border-bottom: 1px solid #ddd;
    display: flex;
    font-size: .8em;
    text-align: right;
  }
  .table .td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .table .td:after {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-value);
    float: left;
    text-transform: uppercase;
  }
  .table .td span {
    visibility: hidden;
    width: 40px
  }
  .table .td:last-child {
    border-bottom: 0;
  }
}

.cellWrapper {
  position: relative;
  display: grid;
}
.rowButtons {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 14px;
  left: 0px;
  height: 54px;
  top: 0px;
  transform: translate(-125%, -25%);
}
.rowButtons span {
  width: 10px;
  height: 10px;
}
.columnButtons {
  width: 50px;
  left: 0px;
  transform: translateY(-100%);
  top: 0px;
  display: flex;
  position: absolute;
  justify-content: space-between;
}

.columnButtons span {
  width: 14px;
}

.columnTextArea {
  border: none;
  font-size: 1rem;
  padding: 0;
  font-weight: bold;
  width: 115px;
  background-color: inherit;
}

.rowTextArea {
  border: none;
  font-size: 1rem;
  padding: 0;
  width: 100%;
  background-color: inherit;
}
